"productClass": "Rates",
##Es un XCccyBasis si los campos (PRODUCTS:PRODUCT_1:REQUEST:DEAL:LEGS:LEG_0:LOAN_PAYMENT_CURRENCY y PRODUCTS:PRODUCT_1:REQUEST:DEAL:LEGS:LEG_1:LOAN_PAYMENT_CURRENCY) son distintos y si existen ambos campos (PRODUCTS:PRODUCT_1:REQUEST:DEAL:LEGS:LEG_0:INDEX_NAME y PRODUCTS:PRODUCT_1:REQUEST:DEAL:LEGS:LEG_1:INDEX_NAME)
"templateName": "$!data.get("sub_product")",
"templateVersion": 1,
"isStandard": false,
"legs": {
    #set($range = [0..1])
    #foreach($leg in $range)
            #if ($data.get("sub_product")=="RatesBasisOis")
                    #if ($leg== 0)
                        "first": {
                    #else
                        "other": {
                    #end
                	"templateName": "FloatSwapLeg",
            #elseif($data.get("sub_product")=="RatesBasis")
            		#if ($leg== 0)
                        "first": {
                    #else
                        "other": {
                    #end
            		"templateName": "FloatSwapLeg",
            #elseif ($data.get("sub_product")=="RatesFixedFloatOis")
            		#if ($leg== 0)
                        "first": {
                        	"templateName": "FixSwapLeg",
                    #else
                        "other": {
                        	"templateName": "FloatSwapLeg",
                    #end
            #elseif ($data.get("sub_product")=="RatesFixedFloat")
            		#if ($leg== 0)
                        "first": {
                        	"templateName": "RatesFixSwapLegFixedFloat",
                    #else
                        "other": {
                        	"templateName": "RatesFloatSwapLegFixedFloat",
                    #end
             #elseif ($data.get("sub_product")=="RatesFixedFloat0Coupon")
            		#if ($leg== 0)
                        "first": {
                        	"templateName": "FixSwapLeg",
                    #else
                        "other": {
                        	"templateName": "FloatSwapLeg",
                    #end
            #elseif ($data.get("sub_product")=="RatesFixedFixed")
            		#if ($leg== 0)
                        "first": {
                        	"templateName": "FixSwapLeg",
                    #else
                        "other": {
                        	"templateName": "FixSwapLeg",
                    #end
            #end
                "templateVersion": 1,
                "isStandard" : false
            }
            #if($leg == 0)
        		,
            #end
    #end
}