##Float legs
,
##"currency": {
##    "value": "$!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:LOAN_PAYMENT_CURRENCY", false, false, $product, $leg)"
##    #if ($currentLegType == 1)
##    ,
##    "isUserOverridden": true
##    #end
##},
"paymentFrequency": {
    "value": "$!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:PAYMENT_FREQUENCY", false, false, 1, $leg)",
	"isUserOverridden": true
},
"paymentBusDayConvention": {
	#if($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:ROLL_CONVENTION", false, false, $product, $leg))
		#if ($!conv['ROLL_CONVENTION'].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:ROLL_CONVENTION", false, false, $product, $leg)))
			"value": "$!conv['ROLL_CONVENTION'].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:ROLL_CONVENTION", false, false, $product, $leg))"
		#else
			"value": ""
		#end
		,"isUserOverridden": true
	#end
},
"roll": {
    ##"value": "$!conv["ROLL_CONVENTION"].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:ROLL_CONVENTION", false, false, $product, $leg))"
},
"paymentBusCenters": {
    "value": $!utils.convertPaymentCalendars("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:PAYMENT_CALENDAR", $product, $leg, ","),
	"isUserOverridden": true
},
"calcPeriodFrequency": {
    "value": "$!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:CALCULATION_FREQUENCY", false, false, $product, $leg)",
	"isUserOverridden": true
},
"rollConventions": {
	##Antes se estaba enviando en dayCountConvention (modificado)
	#if($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:ROLL_CONVENTION", false, false, $product, $leg))
		#if ($!conv['ROLL_CONVENTION'].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:ROLL_CONVENTION", false, false, $product, $leg)))
			"value": "$!conv['ROLL_CONVENTION'].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:ROLL_CONVENTION", false, false, $product, $leg))"
		#else
			"value": ""
		#end
		,"isUserOverridden": true
	#end
},
##calcPeriodBusDayConvention eliminado
"calcPeriodBusCenters": {
    "value": $!utils.convertPaymentCalendars("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:PAYMENT_CALENDAR", $product, $leg, ","),
	"isUserOverridden": true
},
"dayCountConvention": {
	##Antes se estaba enviando en basis (eliminado)
	#if($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:RATE_CONVENTION_BASIS", false, false, $product, $leg))
		#if ($!conv['DAY_COUNT_FRACTION'].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:RATE_CONVENTION_BASIS", false, false, $product, $leg)))
			"value": "$!conv['DAY_COUNT_FRACTION'].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:RATE_CONVENTION_BASIS", false, false, $product, $leg))"
		#else
			"value": ""
		#end
		,"isUserOverridden": true
	#end
}

##ONLY THIS FOR FLOAT LEG
#if ($currentLegType == 1)
	,"compoundingMethod": {
		#if($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:COMPOUNDING_MODE", false, false, $product, $leg))
			#if ($!conv['COMPOUNDING_METHOD'].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:COMPOUNDING_MODE", false, false, $product, $leg)))
		    	"value": "$!conv['COMPOUNDING_METHOD'].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:COMPOUNDING_MODE", false, false, $product, $leg))"
			#else
				"value": "None"
			#end
		#else
			"value": "None"
		#end
	},
	#set ($notionalCurrencyValue = $!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:LOAN_PAYMENT_CURRENCY", false, false, $product, $leg))
	#set ($indexName = $!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:INDEX_NAME", false, false, $product, $leg))
	#if (!$notionalCurrencyValue || !$indexName)
		#set ($referenceRateVal = "")
	#else
		#set ($referenceRateVal = $conv['FLOATING_RATES_INDICES'].get($notionalCurrencyValue).get($indexName))
	#end
	"index": {
	    #if($referenceRateVal != "" && $referenceRateVal)
			"value": "$referenceRateVal",
			"isUserOverridden": true
       #end
	},
##	"indexTenor": {
##	    "value": "$!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:INDEX_FREQUENCY", false, false, $product, $leg)",
##	    "isUserOverridden": true
##	},
## Index and IndexTenor not showing in json generated by UI
	"stubIndicator": {
		#if($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:STUB_INTERPOLATION", false, false, $product, $leg))
	    	#if ($!conv['STUBS'].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:STUB_INTERPOLATION", false, false, $product, $leg)))
				"value": "$!conv['STUBS'].get($!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:STUB_INTERPOLATION", false, false, $product, $leg))"
			#else
				"value": ""
			#end
			,"isUserOverridden": true
		#end
	},
	"spread": {
		#set ($spreadValue = $!utils.getValueInArray("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:PERIOD_FLOATING_MARGINS", 0, $product, $leg))
		#if($spreadValue)
			#set ($spreadValue = $spreadValue * 0.01)
	    	"value": $spreadValue,
			"isUserOverridden": true
		#end
	},
	"resetFrequency": {
        "value": "$!utils.getValueAt("PRODUCTS:PRODUCT_:REQUEST:DEAL:LEGS:LEG_:PAYMENT_FREQUENCY", false, false, 1, $leg)",
		"isUserOverridden": true
    }
#end