#set ($priceTaker = $utils.getValueAt("HEADER:SENTINEL:PRICE_TAKER", false, false, -1, -1))
#set ($dateStamp = $utils.getValueAt("HEADER:SENTINEL:DATESTAMP_USER", false, false, -1, -1)) ##2018-01-15 need to join 'T'
#set ($dateStampSuffix = "T")
#set ($timeStamp = $utils.getValueAt("HEADER:SENTINEL:TIMESTAMP_USER", false, false, -1, -1)) ##11:55:03.742 need to join 'Z'
#set ($timeStampSuffix = "Z")
#if($dateStamp && $timeStamp)
	#set ($executedAt =  $dateStamp + $dateStampSuffix + $timeStamp + $timeStampSuffix)
#end
#set($template = $!utils.getTemplate($!data.get("sub_product"), 'SWAP_ENTER_RFQ.vm')) 
#parse($template)
,#set($template = $!utils.getTemplate($!data.get("sub_product"), 'SWAP_SET_FIRM_QUOTE.vm')) 
#parse($template)
#if(!$priceTaker || $priceTaker == 1)
	,"priceTaker": true,
	#if($executedAt)
		"executedAt": "$executedAt",
	#end
	#set($template = "templates/sentinel/COMMON/EXECUTE.vm") 
	#parse($template)
#else
	,"priceTaker": false
	,"side" : "sell"
#end

