#set ($tradingQueueIdValue = $utils.getValueAt("HEADER:SENTINEL:ROUTING", false, true, -1, -1))
#set ($bankLegalEntityIdValue = $!utils.getValueAt("HEADER:SENTINEL:LEGAL_BANK_ENTITY_ID", true, false, -1, -1))
#set ($product = 1)

		#if ($action == "Amend")
	        "rfqId" : "$rfqId",
	        "rfqVersion": $rfqVersionId,
	    #end
	    "salespersonId"  : "$userId",
	    #if ($StringUtils.isEmpty($!conv['COUNTERPARTY'].get($!utils.getValueAt("HEADER:SENTINEL:COUNTERPARTY", false, true, -1, -1))))
	        "counterpartyId": "$!utils.getValueAt("HEADER:SENTINEL:COUNTERPARTY", false, true, -1, -1)",
	    #else
	        "counterpartyId": "$!conv['COUNTERPARTY'].get($!utils.getValueAt("HEADER:SENTINEL:COUNTERPARTY", false, true, -1, -1))",
	    #end

       #if ($bankLegalEntityIdValue)
       		"bankLegalEntityId": $bankLegalEntityIdValue,
       #end

	   "notes": "TODO NO NOTES YET",
       "product": {
             "header": {
                    #set($template = $!utils.getTemplate($!data.get("sub_product"), 'header_product.vm')) 
					#parse($template) 
             },
             "body": {
             		#set($product = 1)
					#set($template = $!utils.getTemplate($!data.get("sub_product"), 'body_product.vm')) 
					#parse($template)                    
             }
       },
       "economics": {
	       "header": {
				"templateName": "$!data.get("sub_product")",
				"templateVersion": 1
			},
			"body": {				
		        #set($template = $!utils.getTemplate($!data.get("sub_product"), 'economics.vm')) 
				#parse($template)  
			}       		
    }
   	#if ($tradingQueueIdValue && $action != "QuickEnterRFQ")
 		,"tradingQueueId": $tradingQueueIdValue
 	#end
 	
 	#set($template = "templates/sentinel/COMMON/ADDITIONAL_ATTRIBUTES.vm") 
	#parse($template)     
	 	
    #set($template = "templates/sentinel/COMMON/ATTACHMENT.vm") 
	#parse($template)
